<div class="panel panel-default">
	<div class="panel-heading">Product List</div>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
				<th>Date</th>
				<th>Image</th>
				<th>Category</th>
				<th>Available</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in pager.items">
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.price | number : 2}}</td>
				<td>{{item.createDate | date: 'dd-MM-yyyy'}}</td>
				<td>{{item.image}}</td>
				<td>{{item.category.name}}</td>
				<td>{{item.available?'Yes':'No'}}</td>
				<td>
					<div class="btn-group btn-group-xs">
						<button class="btn btn-warning" ng-click="edit(item)">Edit</button>
						<button class="btn btn-warning" ng-click="delete(item)">Delete</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<button ng-click="pager.first()" class="btn btn-danger">
			<b>&lt;&lt;</b>
		</button>
		<button ng-click="pager.prev()" class="btn btn-danger">
			<b>&lt;</b>
		</button>
		<button class="btn btn-danger">{{pager.page + 1}} of {{pager.count}}</button>
		<button ng-click="pager.next()" class="btn btn-danger">
			<b>&gt;</b>
		</button>
		<button ng-click="pager.last()" class="btn btn-danger">
			<b>&gt;&gt;</b>
		</button>
	</div>
</div>