<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/views/home/user/index.html :: dynamic(~{::body})}" >
<body>
	<main  style="padding-top:90px;" >
		<div class="container" th:fragment="shopping_cart">
		<h2>CART</h2>
		<table class="table table-striped">
		  	<thead>
		  		<tr>
		  			<th>ID</th>
		  			<th>Name</th>
		  			<th>Price</th>
		  			<th>Quantity</th>
		  			<th>Amount</th>
		  			<th></th>
		  		</tr>
		  	</thead>
		  	<tbody>
		  		<tr ng-repeat="item in cart.items">
		  			<td>{{item.id}}</td>
		  			<td>{{item.name}}</td>
		  			<td>${{item.price | number : 2}}</td>
		  			<td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1"/></td>
		  			<td>${{item.qty*item.price | number : 2}}</td>
		  			<td>
		  				<button ng-click="cart.remove(item.id)" class="btn btn-danger">
		  					Remove
		  				</button>
		  			</td>
		  		</tr>
		  	</tbody>
		  	
		</table>
		<div class="bg-danger" style="float: right	;padding: 15px 40px; color: aliceblue; border-radius: 10px;">${{cart.amount}}</div>
		<div class="panel-footer">
			<button ng-click="cart.clear()" class="btn btn-danger">
				CLEAR
			</button>
			<a th:href="@{/order/checkout}" class="btn btn-primary">
				Checkout
			</a>
		</div>
		</div>
		
	</main>
</body>
</html>