<!DOCTYPE html>
<html style="font-size: 16px;" lang="en" 
th:replace="~{/views/home/user/index.html :: dynamic(~{::body})}" 
xmlns:th="http://www.thymeleaf.org">
<body class="u-body u-overlap u-xl-mode" data-lang="en">
	<section class="u-clearfix u-section-1" id="sec-7e1d">
		<div class="u-clearfix u-sheet u-valign-bottom u-sheet-1">
			<div
				class="u-container-style u-expanded-width u-group u-image u-radius-50 u-shape-round u-image-1"
				data-image-width="1500" data-image-height="1000">
				<div class="u-container-layout u-container-layout-1">
					<h6 class="u-text u-text-body-alt-color u-text-default u-text-1">Viet
						Fast Food</h6>
					<h1 class="u-text u-text-body-alt-color u-text-2">Trải nghiệm
						món ăn ngon tại đây</h1>
					<a href="/product/list"
						class="u-border-none u-btn u-button-style u-hover-palette-3-light-2 u-palette-3-base u-btn-1">Xem
						thêm</a>
				</div>
			</div>
		</div>
	</section>
	<section class="u-clearfix u-container-align-center u-section-2"
		id="sec-9461">
		<div class="u-clearfix u-sheet u-sheet-1">
			<h2 class="u-align-center u-text u-text-default u-text-1">Thực
				đơn</h2>
			<div class="u-expanded-width u-list u-list-1">
				<div class="u-repeater u-repeater-1">
					<div
						class="u-container-align-center u-container-style u-list-item u-repeater-item">
						<div
							class="u-container-layout u-similar-container u-valign-bottom u-container-layout-1">
							<img
								class="u-expanded-width u-image u-image-round u-radius-50 u-image-1"
								th:src="@{/assets/image/Easy-Chicken-Fry-Recipe.jpg}" alt=""
								data-image-width="1200" data-image-height="1200">
							<h6 class="u-align-center u-text u-text-default u-text-2">Gà
								rán</h6>
							<a href="/product/list"
								class="u-align-center u-btn u-button-style u-btn-1">Xem thêm</a>
						</div>
					</div>
					<div
						class="u-container-align-center u-container-style u-list-item u-repeater-item">
						<div
							class="u-container-layout u-similar-container u-valign-bottom u-container-layout-2">
							<img
								class="u-expanded-width u-image u-image-round u-radius-50 u-image-2"
								th:src="@{/assets/image/delicious-pizza-isolated-white.jpg}" alt=""
								data-image-width="1500" data-image-height="1207">
							<h6 class="u-align-center u-text u-text-default u-text-3">pizza</h6>
							<a href="/product/list"
								class="u-align-center u-btn u-button-style u-btn-2">xem thêm</a>
						</div>
					</div>
					<div
						class="u-container-align-center u-container-style u-list-item u-repeater-item">
						<div
							class="u-container-layout u-similar-container u-valign-bottom u-container-layout-3">
							<img
								class="u-expanded-width u-image u-image-round u-radius-50 u-image-3"
								th:src="@{/assets/image/pexels-photo-3681641.jpeg}" alt=""
								data-image-width="1000" data-image-height="1500">
							<h6 class="u-align-center u-text u-text-default u-text-4">tráng
								miệng</h6>
							<a href="/product/list"
								class="u-align-center u-btn u-button-style u-btn-3"> xem
								thêm</a>
						</div>
					</div>
					<div
						class="u-container-align-center u-container-style u-list-item u-repeater-item">
						<div
							class="u-container-layout u-similar-container u-valign-bottom u-container-layout-4">
							<img
								class="u-expanded-width u-image u-image-round u-radius-50 u-image-4"
								th:src="@{/assets/image/pexels-photo-3939602.jpeg}" alt=""
								data-image-width="2002" data-image-height="1500">
							<h6 class="u-align-center u-text u-text-default u-text-5">Nước
								uống</h6>
							<a href="/product/list"
								class="u-align-center u-btn u-button-style u-btn-4"> xem
								thêm</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="u-clearfix u-palette-3-light-1 u-section-3"
		id="sec-e2be">
		<div class="u-clearfix u-sheet u-sheet-1">
			<div
				class="u-container-align-center u-container-style u-expanded-width u-group u-radius-50 u-shape-round u-white u-group-1">
				<div class="u-container-layout u-valign-top u-container-layout-1">
					<h2 class="u-align-center u-text u-text-default u-text-1">Liên
						hệ đặt bàn</h2>
					<a href="https://nicepage.com/website-builder"
						class="u-active-none u-align-center u-btn u-button-style u-custom-font u-font-montserrat u-hover-none u-none u-text-hover-palette-4-base u-btn-1"><span
						class="u-icon u-text-palette-3-base"><svg
								class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px"
								y="0px" style="width: 1em; height: 1em;">
								<path
									d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg></span>&nbsp;0778-112-175
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="u-clearfix u-section-4" id="carousel_3969">
		<div
			class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
			<div
				class="u-container-style u-expanded-width u-group u-image u-radius-50 u-shape-round u-image-1"
				data-image-width="1500" data-image-height="1000">
				<div class="u-container-layout u-container-layout-1">
					<h2 class="u-text u-text-body-alt-color u-text-1">Khám phá
						thêm về cửa hàng của chúng tôi</h2>
					<a href="https://nicepage.com/c/video-website-mockup"
						class="u-border-none u-btn u-button-style u-hover-palette-3-light-2 u-palette-3-base u-btn-1">Khám
						phá</a>
				</div>
			</div>
		</div>
	</section>
	<section class="u-clearfix u-palette-3-base u-section-5"
		id="carousel_2b61">
		<div class="u-clearfix u-sheet u-sheet-1">
			<div
				class="u-container-align-center u-container-style u-expanded-width u-group u-radius-50 u-shape-round u-white u-group-1">
				<div class="u-container-layout u-container-layout-1">
					<h2 class="u-align-center u-text u-text-default u-text-1">Đăng
						ký nhận khuyến mãi</h2>
					<p class="u-align-center u-text u-text-2">Chúng tôi sẽ gửi mail
						cho bạn khi có chương trình khuyến mãi</p>
					<div class="u-form u-form-1">
						<form action="https://forms.nicepagesrv.com/v2/form/process"
							class="u-clearfix u-form-horizontal u-form-spacing-21 u-inner-form"
							source="email" name="form" style="padding: 0px;">
							<div class="u-form-email u-form-group u-label-none">
								<label for="email-5e0c" class="u-label">Email</label> <input
									type="email" placeholder="Enter a valid email address"
									id="email-5e0c" name="email"
									class="u-border-2 u-border-black u-input u-input-rectangle u-radius-20"
									required="">
							</div>
							<div class="u-align-left u-form-group u-form-submit u-label-none">
								<a href="#"
									class="u-border-2 u-border-palette-4-base u-btn u-btn-submit u-button-style u-palette-4-base u-btn-1">Đồng
									ý</a> <input type="submit" value="submit"
									class="u-form-control-hidden">
							</div>
							<div class="u-form-send-message u-form-send-success">Thank
								you! Your message has been sent.</div>
							<div class="u-form-send-error u-form-send-message">Unable
								to send your message. Please fix errors then try again.</div>
							<input type="hidden" value="" name="recaptchaResponse"> <input
								type="hidden" name="formServices"
								value="a811da1fee081c2d5013d03b042dc954">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>