<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/views/home/user/index.html :: dynamic(~{::body})}">
<body>
	 <main class="container" th:object="${order}" style="padding-top: 100px">
        <div class="panel panel-primary">
            <h4 class="panel-heading">Thông tin đơn hàng</h4>
            <div class="panel-body">
            	<div class="row">
	            	<div class="form-group col-sm-4">
	                    <div>Mã đơn hàng</div>
	                    <input th:field="*{id}" class="form-control" readonly>
	                </div>
	                <div class="form-group col-sm-4">
	                    <div>Người mua:</div>
	                    <input th:field="*{userinfo.username}" class="form-control" readonly>
	                </div>
	                <div class="form-group col-sm-4">
	                    <div>Thời gian:</div>
	                    <input th:field="*{createDate}" class="form-control" readonly>
	                </div>
                </div>
                <div class="row">
	                <div class="form-group col-sm-12">
	                    <div>Địa chỉ:</div>
	                    <textarea th:field="*{address}" class="form-control" readonly></textarea>
	                </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Hóa đơn</div>
            <table class="table">
				<thead>
					<tr>
						<th>Tên món ăn</th>
						<th>Giá</th>
						<th>Số lượng</th>
						<th>Tổng tiền</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="detail: *{orderDetails}" th:object="${detail}">
						<td>[[*{product.name}]]</td>
						<td>[[*{#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')}]] VND</td>
						<td>[[*{quantity}]]</td>
						<td>[[*{#numbers.formatDecimal(price*quantity, 0, 'COMMA', 0, 'POINT')}]] VND</td>
					</tr>
				</tbody>
			</table>
          </div>
    </main>
</body>
</html>