<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/views/home/user/index.html :: dynamic(~{::body})}">
<body>
	<main>
        <div class="panel panel-primary container" style="padding-top: 100px">
            <h2>Thông tin đơn hàng</h2>
            <table class="table">
				<thead>
					<tr>
						<th>Đơn số</th>
						<th>Mã đơn</th>
						<th>Thời gian</th>
						<th>Địa chỉ</th>
						<th>Trạng thái</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order, state: ${orders}">
						<td>[[${state.index + 1}]]</td>
						<td>[[${order.id}]]</td>
						<td>[[${order.createDate}]]</td>
						<td>[[${order.address}]]</td>
						<td>[[${order.status}]]</td>
					</tr>
				</tbody>
			</table>
          </div>
    </main>
</body>
</html>