<!DOCTYPE html>
<html style="font-size: 16px;" lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/views/home/user/index.html :: dynamic(~{::body})}">

<body class="u-body u-overlap u-xl-mode" data-lang="en">
	<section class="container" id="carousel_225d" style="padding-top:100px">
		<main th:object="${food_items}" class="poly-item-detail">
			<div class="row">
				<h3 th:text="*{name}"></h3>
				<div class="col-sm-4">
					<div class="card text-center" >
						<img th:src="@{|/assets/image/*{image}|}" style="width:350px; height:350px;float: none;" />
						<ul style="list-style: none;">
							<li th:text="*{name}"></li>
							<li th:text="*{price}"></li>
						</ul>
						<button class="btn btn-success">Mua</button>
					</div>
				</div>
				<div class="row pt-5">
					<h2>Phần ăn khác</h2>
					<div class="col-sm-3 pb-3" th:each="p:${food_items.category.products}">
						<a th:href="@{|/product/detail/${p.id}|}" style="text-decoration: none; color: black;">
							<div class="card text-center">
								<img class="card-img" th:src="@{|/assets/image/${p.image}|}" style="width:100%; height: 200px"/>
								<p>[[${p.name}]]</p>
							</div>
						</a>
					</div>
					
				</div>
			</div>
		</main>
	</section>
</body>

</html>