<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"
xmlns:th="http://www.thymeleaf.org"
th:replace="~{/views/home/user/index.html :: dynamic(~{::body})}" >

<body class="u-body u-overlap u-xl-mode" data-lang="en">
	<section class="container" id="carousel_225d" style="padding-top:100px">
		<div class="row">
			<ul class="list-group list-group-horizontal-sm ">
			  <li th:each="c: ${cates}" class="list-group-item">
			  	<a style="text-decoration: none; color: black;"  th:href="@{|/product/list?cid=${c.id}|}">[[${c.name}]]</a>
			  </li>
			</ul>
		</div>
		<main class="row">		
		<div th:each="p: ${food_items}" class="col-sm-2 mt-3">
			<div class="card text-center " >
				<a th:href="@{|/product/detail/${p.id}|}">
					<img th:src="@{|/assets/image/${p.image}|}" style="width:100%; height: 170px"/>
				</a>
				<div class="card-body">
					<p th:text="${p.name}" style=" display: -webkit-box; /* Cho phép hiển thị thành 2 dòng */
						  -webkit-line-clamp: 2; /* Số dòng tối đa */
						  -webkit-box-orient: vertical; /* Hiển thị dọc */
						  overflow: hidden; /* Ẩn phần văn bản bị tràn ra ngoài */
						  text-overflow: ellipsis;"> </p>
				</div>
				<div class="card-footer">
					<b class="pull-left" style="float:none;">[[*{#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT')}]] VND</b><br>
					<button th:attr="ng-click=@{|cart.add(${p.id})|}" class="btn btn-success" style="float:none; padding: 3px 30px;">Mua</button>
				</div>
			 </div>
		</div>
		</main>
	</section>
</body>
</html>